#showcase {
    position: relative;
    background-image: url("Img/mountains.jpg");
    min-height: 600px; }
    #showcase .primary-overlay {
      background: rgba(50, 146, 156, 0.7);
      min-height: 600px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; 
}